
<div class = "sign_form">

  <h1>Novo Utilizador</h1>

  <%= form_for @user do |f| %>
      <%= f.label "Nome de utilizador:" %><br>
      <%= f.text_field :username %><br><br>
      <%= f.label "Correio electrónico:" %><br>
      <%= f.text_field :email %><br><br>
      <%= f.label "Palavra passe: " %><small><small><em>(De 6 a 20 caracteres)</em></small></small><br>
      <%= f.password_field :password %><br><br>
      <%= f.label "Confirmar palavra passe:" %><br>
      <%= f.password_field :password_confirmation %><br><br>
      <%= f.button "Criar conta" %><br><br>
      <%= link_to "Já tenho conta!", sessions_login_path, title: "Entrar com a sua conta!"%>
  <% end %>

</div>

<div class="signup_errors">
    <% if @user.errors.any? %>
          <ul>
            <% @user.errors.full_messages.each do |e| %>
                <li><%= e %></li>
            <% end %>
          </ul>
    <% end %>
</div>